div {
  margin: 1px 1px;
}

.container {
  display: flex;
  flex-direction: column;
}

.div1>div {
  height: 60px;
  background: orange;
}

.div2 {
  height: 120px;
  background: yellow;
}

.div3>div {
  height: 180px;
  background: blue;
}

.div4>div {
  height: 100px;
  background: grey;
}

@media only screen and (min-width:768px) {
  .div2 {
    height: 200px;
    flex-grow: 1;
  }

  .div3>div {
    height: 100px;
  }

  .div4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .div4>div {
    width: 49.7%;
    height: 50px;
  }
}

@media only screen and (min-width:1024px) {
  .div1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .div1>div {
    width: 49.8%;
    height: 80px;
  }

  .div2 {
    height: 300px;
  }

  .div3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .div3>div {
    width: 33.1%;
    height: 170px;
  }

  .div4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .div4>div {
    width: 24.8%;
    height: 70px;
  }
}
