/* Tags */
img {
  width: 250px;
  height: 250px;
}

/* Navbar */
.nav {
  overflow: hidden;
  background-color: #ddd;
}

.nav a {
  float: right;
  color: black;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav spam {
  padding: 23px;
}

/* First */
.first {
  text-align: center;
  background-color: #ddd;
}

.first h1 {
  padding-top: 30px;
}

.first p {
  padding-bottom: 80px;
}

/* Second */
.second {
  display: inline-block;
}

.section1 {
  display: inline-block;
  width: 50%;
}

.section2 {
  display: inline-block;
}
