body {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100%;
}

.box-1 {
  width: 100px;
  height: 100px;
  padding: 30px;
  border: 4px solid black;
  background: #FCFFA6;
}

.box-2 {
  width: 60px;
  height: 60px;
  padding: 50px;
  background: #C1FFD7;
  border: 4px solid red;
}

.box-3 {
  width: 45%;
  height: 100px;
  background: #B5DEFF;
}

img {
  width: 200px;
  height: 250px;
  border: 5px solid green;
}

input {
  width: 300px;
  height: 300px;
  padding: 30px;
  margin: 10px;
}
